<!DOCTYPE html>
<html lang="ru" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="page__body">
    <header class="page__header page-header">

    </header>

    {{ content | safe }}

    <footer class="page__footer page-footer">

    </footer>

    <script src="/js/scripts.js"></script>
</body>
</html>
