@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'normalize';
@import 'global';
@import 'blocks/common';

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    background: $color-gray-100;
}

h1 {
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 260px;
    margin: -130px 0 0 -130px;
    border: 4px solid;
    border-radius: 50%;
}

h1::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin: -13px 0 0 -13px;
    border-radius: 50%;
    background: $color-primary;
    transform-origin: -115px 50%;
    transform: translateX(128px);
    animation-name: rotate;
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: translateX(128px) rotate(0deg);
    }

    100% {
        transform: translateX(128px) rotate(360deg);
    }
}
